<header class="header header--main">
  <div class="header__menu-icon">
    test
  </div>
  <div class="header__logo">
    {{{'svg/logos/logo-ohmy.svg'}}}
  </div>
  <div class="header__basket">
    Basket
  </div>
</header>
